
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #673C4F;
    --main-accent: #62A8AC;
    --second-color: #7F557D;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

canvas {
    max-width: 100%;
}

h2 {
    padding: 1rem;
}

body {
    font-family: 'Oswald', sans-serif;
}

/* Header */
header {
    padding: .5rem;
    color: white;
    background-color: var(--main-color);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container > * {
    margin-left: .5rem;
}

.web-label {
    font-size: 2rem;
    width: fit-content;
}

.header-bar {
    display: flex;
    align-items: center;
}

.header h2 {
    font-size: 16px;
}

/* Dropdown + Bell */
.bell {
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #726E97;
    min-width: 200px;
    border-radius: 10%;
    z-index: 1;
}

.dropdown-content a{
    display: flex;
    align-items: center;
    padding: 0.75rem;
    color: white;
    border-bottom: 1px solid darkgray;
    
}

.dropdown-content a:hover{
    color: darkgray ;
}

.dropdown-content a:last-child {
      border: none;
}
  
.hidden {
    display: none;
}

.badge {
    content: '';
    position: absolute;
    background-color: #7698B3;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: -4px;
    margin-right: 1px;
    top: 0;
    right: 0;
}

.profile-image {
    border-radius: 50%;
    margin: 0 .8rem 0 .8rem;
    width: 40px;
}

nav {
    background-color: #7F557D;
    text-align: center;
}

nav img {
    height: 2.5em;
    margin: .8em;
}

h3 {
    font-size: 24px;
    padding: 1rem;
}

/* Main */
.main {
    grid-area: main;
}

.main-header {
    display: grid;
    grid-template-columns: auto 2fr;
}

.main-search {
    padding: 1rem;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
}

.main-search input {
    margin-left: auto;
    padding: 0.25rem;
}

/* Alert */
.alert {
    padding: 1rem;
}

.alert-banner {
    display: flex;
    justify-content: space-between;
    padding: .45rem;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
}
  
.alert-banner-close {
    font-size: 1em;
    font-weight: 800;
    padding: .1rem;
    color: white;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}
  

/* Traffic */
.traffic {
    border-bottom: 1px solid darkgray;
}

.traffic-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.traffic-container h3 {
    text-align: center;
    font-weight: 800;
}

.traffic-container ul {
    display: flex;
    align-items: center;
}

.traffic-container * {
    margin-left: 1rem;
}

.traffic-container li {
    cursor: pointer;
}


.traffic-nav {
    display: flex;
    align-items: center;
}
  
.traffic-nav * {
    margin-left: 1rem;
}

.active {
    background-color: #83B5D1;
    color: white;
    padding: 0.30rem 0.30rem;
    border-radius: 15px;
}

/* Daily */
.daily-traffic {
    padding: 1rem;
    border-bottom: 1px solid darkgray;
}

/* Mobile */
.mobile {
    padding: 1rem;
    border-bottom: 1px solid darkgray;
}

/* Social Stats */

.social-stats {
    border-bottom: 1px solid darkgray;
    padding: 1rem;
}

.social-box {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}


.social-container {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.twitter-svg,
.facebook-svg,
.google-svg {
  fill: var(--main-color);
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.social-stats h3 {
    margin-bottom: 1rem;
}

.social-image:hover {
    cursor: pointer;
}

.social-text {
    font-size: 26px;
}

.social-text p {
    margin: 10px 5px 5px 25px;
    color: var(--second-color);
}

.social-text .social-label {
    font-weight: 800;
    color: #27171E;
}
 
/* Members */
.member {
    border-bottom: 1px solid darkgray;
    padding: 1rem;
}

.member h3 {
    margin-bottom: 1rem;
}

.member-container {
    border-bottom: 1px solid darkgray;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.member-container img {
    border-radius: 50%;
    width: 44px;
    margin-right: 0.5rem;
}

.member-container a {
    color: var(--main-accent);
}

.member-container > p {
    margin-left: auto;
}

.member-container:last-child {
    border: none;
}

/* Activity */

.activity {
    border-bottom: 1px solid darkgray;
    padding: 1rem;
}

.activity h3 {
    margin-bottom: 1rem;
}

.activity-container {
    border-bottom: 1px solid darkgray;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.activity-container img {
    border-radius: 50%;
    width: 44px;
    margin-right: 0.5rem;
}

.activity-container > p {
    margin-left: auto;
}

.activity-container:last-child {
    border: none;
}

/* Message */
.message {
    border-bottom: 1px solid darkgray;
    padding: 1rem;
}

.message h3 {
    margin-bottom: 1rem;
}

.message input, .message textarea {
    display: block;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.message textarea {
    height: 20vh;
}

.message button {
    display: inline-block;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    border: none;
}

/* settings */

.settings {
    padding: 1rem;
}

.settings h3 {
    margin-bottom: 3rem;
}

.toggle-container {
    display: flex;
    margin-bottom: 1.5rem
}

.toggle-container h4 {
    width : 12rem;
    margin-right: 1.5rem;
}

.toggle-switch {
    display: inline-block;
    position: relative; 
    width: 110px;
    height: 40px;
    cursor: pointer;
}

.toggle-switch input {
    display: none;
}

.slider {
    background-color: var(--main-accent);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; 
    border-radius: 34px;
    transition: .2s;
}

.slider::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    background-color: white;
    border-radius: 50%;
    transition: .2s;
}

.slider::after {
    position: absolute;
    content: 'ON';
    height: 30px;
    width: 30px;
    top: 8px;
    left: 8px;
    color: white;
}

input[type="checkbox"]:checked + .slider::before {
    transform: translateX(70px);
}
  
input[type="checkbox"]:checked + .slider {
    background-color: var(--second-color);
}

select[class="form-field"] {
    display: block;
    border: 1px solid darkgray;
    color: grey;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.setting-button {
    display: flex;
    justify-content: space-between;
}

.primary-button, .cancel-button {
    background-color: var(--main-accent);
    display: inline-block;
    border: none;
    width: 48%;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.cancel-button {
    background-color: darkgray;
}

@media (min-width: 768px) {
.grid-container {
        display: grid;
}

.grid-container {
    grid-template-columns: 74px 1fr;
    grid-template-areas: 
        "header header"
        "nav main";
}

header {
    grid-area: header;
}

.header h2 {
    font-size: 24px;
}

.web-label {
    font-size: 2rem;
    width: fit-content;
}

main {
    display: grid;
    grid-template-columns: 50%;
}

.main-header {
    grid-column: 1 / span 2;
}

.bell {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    position: relative;
}

nav {
    grid-area: nav;
    margin: 0 auto;
}

nav {
    padding-top: 1em;
}

.alert {
    grid-column: 1 / span 2;
}

.main-search input {
    flex: 0.25;
}

.traffic {
    grid-column: 1 / span 2;
}

.daily-traffic {
    border-right: 1px solid darkgray;
}

.social-stats {
    grid-column: 1 / span 2;
}

.social-box {
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
}

.social-container {
    justify-content: flex-start;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
}

.social-container .social-image {
    flex-basis: 100px;
    height: 100px;
    width: 100px;
    margin-right: 2.5rem;
  }

.social-container .social-image svg {
    transform: scale(1);
}

.social-container p:nth-child(2) {
    font-size: 2rem;
    text-align: center;
}

.members {
    border-right: 1px solid darkgray;
}

.activity {
    font-size: 1rem;
}

.message {
    border-bottom: none;
    border-right: 1px solid darkgray;
}

}

